/*div {
  border: 1px solid red;
}*/

/*Padding needed for headers to sit below fixed Navbar*/
body {
  padding-top:51px;
  font-family: Roboto, sans-serif;;
}

/*Navbar color & removal of border, border radius and margin */
.navbar {
  background:white;
  margin-bottom: 0;
  border-radius: 0;
  opacity: 1;
  transition: opacity 2s, background 2s;
  border-color: transparent;
}
/*Class that adds fade to navbar on scroll*/
.nav_fade {
  opacity: 0.8;
  background: black;
  color: white;
}

/*Navbar nav list and a links color*/
.navbar-default .navbar-nav>li>a {
  color: black;
}

/*Navbar Menu down background & border color*/
.navbar-default .navbar-toggle {
 border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

/*Navbar toggle hover color and when selected color*/
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent;
}

/*Navbar toggle line  color*/
.navbar-default .navbar-toggle .icon-bar {
  background: black;
}

/*Footer padding and responsive font size*/
.navbar-footer {
  padding-top: 15px;
  font-size: 1.0em;
}

/*Padding only applied on small devices*/
@media only screen and (min-width: 768px) {
/*Side padding for Contact form*/
.form-horizontal {
  padding-left:50px;
  padding-right:50px;
  }}

/*Contact form bottom margin, font color & background color*/
.form-control {
  margin-bottom:15px;
  background:white;
  color:black;
}

/*Placeholder font color*/
.form-control::-webkit-input-placeholder {
  color:#adadad ;
}

/*Blockquote color, border size & color and margin*/
blockquote {
    color:white;
    border-left: solid 10px;
    border-color: white;
    margin: 10px;
}

/*Blockquote footer color*/
blockquote > footer {
  color: white;
}

/*Styling for Home id*/
#Home {
  height: 600px;
  background: #2c3e50; /* fallback for old browsers (Between Night and Day from uigradients)*/ 
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Styling for About id*/
#About {
 background: #2c3e50;
  background-size: cover;
}

/*Styling for Portfolio id*/
#Portfolio {
  background: #2c3e50;
  background-size: cover;
  padding-bottom: 35px;
}

/*Styling for Contact id*/
#Contact {
  background: #2c3e50;
  background-size: cover;
  padding-bottom: 35px;
}

/*Main title size and color*/
#main-header {
  color: white;
  font-size: 50px;
  margin-top: 50px;
}

/*h1 color*/
h1 {
  color: white;
  margin: 30px 0;
}

/*h4 color*/
.caption h4 {
  color: #2c3e50;
  margin: 0 0 9px 0;
}

/*p color & margin*/
#About p {
  color:white;
  font-size: 1.2em;
  margin-bottom: 50px;
}

/*My logo padding*/
.logo {
  padding-top:5px;
  padding-left:5px;
}

/*Background color & styling of portfolio thumbnails*/
.thumbnail {
  background: #ECE9E6; /* fallback for old browsers (Clouds from uigradients)*/
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
  padding: 0;
  border: none;
  text-align: center;
}
.thumbnail img {
  width: 100%;
}

/*Github and Codepen icon styling within thumbnails*/
.links i{
  color: #2c3e50;
  padding: 1px;
}
.links i:hover {
  color: #3498db;
}
/*Margin to space on lower divs within thumbnails*/
div .links{
  margin-bottom: 9px;
}
/*HTML CSS JS etc image size*/
.languages img {
  width: 20px;
  height: 20px;
  padding: 1px;
}
/*Hide languages when page is displayed and show languages on hover of caption div*/
.languages {
  opacity: 0;
  transition: 0.5s linear;
}
.caption:hover .languages {
  opacity: 1;
}

/*Social Media background padding, color and fade(opacity 0,4)*/
div #social-media {
  background: none;
  padding-top: 20px;
}

/*Social Media icon responsive size and padding*/
#social-media .fa {
  color: #FFFFFF;
  font-size: 8.0vw;
  padding:4px;
}

/*Facebook icon color*/
#social-media .fa-facebook:hover {
  color: #3b5998;
}

/*Twitter icon color*/
#social-media .fa-twitter:hover {
  color: #32CCFE;
}

/*Google+ icon color*/
#social-media .fa-google-plus:hover {
  color: #dd4b39;
}

/*Instagram icon color*/
#social-media .fa-instagram:hover {
  color: #AEB5C5;
}

/*Linkedin icon color*/
#social-media .fa-linkedin:hover {
  color: #007bb5;
}

/*Github icon color*/
#social-media .fa-github:hover {
  color:#000000;
}
